<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= result.title %></title>

        <!-- SEO Meta Tags -->
        <meta name="description" content="<%= result.description %>"/>

        <!-- Open Graph Meta Tags for Social Media -->
        <meta property="og:title" content="<%= result.title %>" />
        <meta property="og:description" content="<%= result.description %>"/>
        <meta property="og:image" content="<%= result.image %>"/>
        <meta property="og:url" content="<%= result.originalUrl %>"/>
        <meta property="og:type" content="website"/>

        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="<%= result.title %>"/>
        <meta name="twitter:description" content="<%= result.description %>"/>
        <meta name="twitter:image" content="<%= result.image %>"/>
        <meta name="twitter:url" content="<%= result.originalUrl %>"/>

        <!-- Robots and Search Engine Directives -->
        <meta name="robots" content="index, follow"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <!-- Canonical and Icon Links -->
        <link rel="canonical" href="<%= result.originalUrl %>"/>
        <link rel="icon" href="<%= result.image %>" type="image/png" />
        <link rel="image" href="<%= result.image %>" />
    </head>
        <script>
            window.onload = function() {
                setTimeout(()=>{
                    window.location.href = "<%= result.originalUrl %>";
                },100)
            };
        </script>
    <body>
    </body>
</html>
